@{
    ViewData["Title"] = "Home Page";
}


<div class="row align-items-center mt-4 p-2">
    <div class="col-sm-12 col-md-8 col-lg-6">
        <form enctype="multipart/form-data" method="post" asp-controller="Home"
              asp-action="Index" class="border rounded mt-4 p-4">
            <h4 class="mb-3">Add Lab Order File(s)</h4>
            <div class="alert-danger rounded font-weight-normal text-break m-2" asp-validation-summary="All"></div>
            <div id="formElements">
                <div class="form-group mt-3">
                    <div class="d-flex">
                        <div class="col-11">
                            <div class="custom-file">
                                <input id="file0" name="Files[0].File" class="form-control custom-file-input" data-serial="0" type="file" />
                                <label id="fileName0" class="custom-file-label text-wrap" for="file0">Choose a file..</label>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-1">
                            <button type="button" name="deleteField" class="btn btn-sm btn-light mt-1 ms-2 ms-2">
                                <i class="text-danger fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

@*                 <div class="form-group mt-3">
                    <div class="d-flex">
                        <div class="col-11">
                            <div class="custom-file">
                                <input id="file1" name="Files[1].File" class="form-control custom-file-input" data-serial="1" type="file" />
                                <label id="fileName1" class="custom-file-label text-wrap" for="file1">Choose a excel file..</label>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-1">
                            <button type="button" name="deleteField" class="btn btn-sm btn-light mt-1 ms-2">
                                <i class="text-danger fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <div class="d-flex">
                        <div class="col-11">
                            <div class="custom-file">
                                <input id="file2" name="Files[2].File" class="form-control custom-file-input" data-serial="2" type="file" />
                                <label id="fileName2" class="custom-file-label text-wrap" for="file2">Choose a file..</label>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-1">
                            <button type="button" name="deleteField" class="btn btn-sm btn-light mt-1 ms-2">
                                <i class="text-danger fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div> *@
            </div>
            <div class="form-group mt-3">
                <button id="addFile" type="button" class="btn btn-sm btn-light"><i class="fas fa-plus me-2"></i>Add File</button>
            </div>
            <div class="form-group mt-3 mt-5">
                <button class="btn btn-primary mr-2" id="formSubmit" type="submit">Upload and Redact</button>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Clear</a>
            </div>
        </form>
    </div>
</div>

